<div class="line"></div>
<div class="main">
<div class="top">
    <h3>MORE FROM RICK AND MORTY</h3>
    <div class="soc">
        
        <i class="bi bi-facebook f"><a href="https://facebook.com/RickandMorty"></a></i>
        <a href="https://twitter.com/rickandmorty"><i class="bi bi-twitter f"></i></a>
        <i href="https://instagram.com/rickandmorty" class="bi bi-instagram f"></i>
        <a class="gg d" href="https://rickandmortywormageddon.com">Wormageddon</a>
        <a class="gg d" href="https://gorickyourself.com">Go Rick Yourself</a>
        <a class="gg d" href="https://www.adultswim.com/games/pocket-mortys">Pocket Mortys</a>
        <a class="gg d" href="https://wbshop.com/collections/rick-and-morty">Shop Rick and Morty</a>
    </div>
</div>
<div class="bottom">
    <ul>
        <li class="eee"><a href="https://www.adultswim.com/newsletter">SIGN UP FOR THE ADULT SWIM NEWSLETTER</a></li>
    </ul>
    <div>
        <ul>
            <li>Privacy Policy</li>
            <li>Ad Choices</li>
            <li>Cookie Settings</li>
            <li>Terms of Use</li>
            <li> Parental Controls</li>
            <li> Closed Captioning</li>
            <li>Contact Us</li>
            <li>Press Room</li>
            <li>Help</li>
            <li>Site Map</li>
        </ul>
    </div>
    <p>TM & © 2024  <a href="https://www.turner.com/">The Cartoon Network</a>, Inc. All Rights Reserved.</p>
    <p>This project was completed with assistance from the Georgia Film Office, a division of the Georgia Department of Economic Development.

    </p>
</div>

</div>
